h1
{
width:100%;
font-size :1000%;
color:white;
/*
position:fixed;
*/
/* */text-align:center;
background-color:#241A1A;
top:0;
left:0;
margin-top: -10%;


font-family: "Titre Fonte", Helvetica, Arial, sans-serif;
}
h2
{
text-align:center;
font-size:500%;
font-family: "Menu Fonte";
}


body
{
color: white;
background-color :#241A1A;
}

.menu
{
height:100%;
position:fixed;
left:1;
top:0;
margin-top: -0.05%;

font-size: 125%;
color:white ;
float: left;
text-align : left;	
background-color :#221414;
border-style: solid;
border-width: 3px; 
border-color: black;
padding: 8px;
font-family: "Menu Fonte", Helvetica, Arial, sans-serif; ; 

}

@font-face {
	font-family: "Titre Fonte";
	src: url('Neptern Harbour Free.ttf');
}

@font-face {
	font-family: "Menu Fonte";
	src: url('Humblle Rought Caps.ttf');
}


@font-face {
	font-family: "Res Fonte";
	src: url('ExodusDemo-Regular.otf');
}


a
{
text-decoration:none;
color:white ;

}

table
{

text-align:right;
background-color:#3D2626;
width:82%; 
font-size:140%;
border:solid  1px;

}
td,th
{

width:10%; 

text-align: left;
/*
border: solid 1px;
*/
}

.resultat
{

font-family:"Res Fonte";
color:;

}

.titre
{
margin-left:20%;
}

.stat
{
font-size:175%;
margin-left:25%;
font-family:"Res Fonte";
}


.bouton
{
width:80%;
height:80%;
font-size:70%;
line-height:100%;
text-align:center;

}


.b
{
text-align:center;
}










